In [1]:
import pandas as pd
import os
import re
json_folder = "../data/preprocessed"

In [2]:
json_folder = "../data/preprocessed"

In [3]:
json_files = [f for f in os.listdir(json_folder) if f.endswith(".json")]

In [4]:
# Initialize an empty list to store DataFrames
dataframes = []

# Loop through each JSON file, read it, and append it to the list
for file in json_files:
    file_path = os.path.join(json_folder, file)
    # Read the JSON file into a DataFrame
    df = pd.read_json(file_path, orient='records', encoding='utf-8')
    # Add a column to identify the source channel
    df['channel'] = os.path.splitext(file)[0]  # File name without extension
    # Append the DataFrame to the list
    dataframes.append(df)

# Merge all DataFrames into a single DataFrame
merged_df = pd.concat(dataframes, ignore_index=True)

# Display the merged DataFrame
print(merged_df.head())

     id         sender                 timestamp  \
0  1387 -1001838667733 2025-01-20 09:39:41+00:00
1  1386 -1001838667733 2025-01-20 07:53:19+00:00
2  1385 -1001838667733 2025-01-20 05:07:16+00:00
3  1383 -1001838667733 2025-01-18 17:49:31+00:00
4  1382 -1001838667733 2025-01-18 10:45:20+00:00

                                                text  media  \
0  እነዚህን ጫማዎች facebook እና instagram ላይ ማስታወቂያ አይታ...    NaN
1                                     ዛሬ ሙሉቀን ክፍት ነን    NaN
2  እነዚህን ጫማዎች facebook እና instagram ላይ ማስታወቂያ አይታ...    NaN
3  👟 brand :- PRERA COMFI WEAR\n📐 size  :-  39,40...    NaN
4  👟 brand :- CLASSIC DOSIR\n📐 size  :-  39,40,41...    NaN

                                        cleaned_text      channel
0  እነዚህን ጫማዎች facebook እና instagram ላይ ማስታወቂያ አይታ...  belaclassic
1                                     ዛሬ ሙሉቀን ክፍት ነን  belaclassic
2  እነዚህን ጫማዎች facebook እና instagram ላይ ማስታወቂያ አይታ...  belaclassic
3  brand PRERA COMFI WEAR size 394041424344 ዋጋ 38...  belaclassic
4  brand CLASSIC DOSIR size 394041424344 ዋጋ 3900 ...  belaclassic

In [5]:
filtered_df = merged_df[["cleaned_text"]]

In [6]:
filtered_df.head(10)

                                        cleaned_text
0  እነዚህን ጫማዎች facebook እና instagram ላይ ማስታወቂያ አይታ...
1                                     ዛሬ ሙሉቀን ክፍት ነን
2  እነዚህን ጫማዎች facebook እና instagram ላይ ማስታወቂያ አይታ...
3  brand PRERA COMFI WEAR size 394041424344 ዋጋ 38...
4  brand CLASSIC DOSIR size 394041424344 ዋጋ 3900 ...
5  brand CIZAR size 394041424344 ዋጋ 3600 ስልክ 0944...
6  brand FABANNU GENUINE size 394041424344 ዋጋ 380...
7  ይህን ጫማ ትንሽ ቁጥር ፈልጋችሁ በተደጋጋሚ መጥታችሁ ላጣቹት በሙሉ ሶስት...
8  brand AIRFORCE 1 LOW size 394041424344 ዋጋ 3900...
9  brand PERSIAN MOCCASIN size 394041424344 ዋጋ 39...

In [7]:
filtered_df = filtered_df.dropna(subset="cleaned_text")

In [8]:
filtered_df.head(10)

                                        cleaned_text
0  እነዚህን ጫማዎች facebook እና instagram ላይ ማስታወቂያ አይታ...
1                                     ዛሬ ሙሉቀን ክፍት ነን
2  እነዚህን ጫማዎች facebook እና instagram ላይ ማስታወቂያ አይታ...
3  brand PRERA COMFI WEAR size 394041424344 ዋጋ 38...
4  brand CLASSIC DOSIR size 394041424344 ዋጋ 3900 ...
5  brand CIZAR size 394041424344 ዋጋ 3600 ስልክ 0944...
6  brand FABANNU GENUINE size 394041424344 ዋጋ 380...
7  ይህን ጫማ ትንሽ ቁጥር ፈልጋችሁ በተደጋጋሚ መጥታችሁ ላጣቹት በሙሉ ሶስት...
8  brand AIRFORCE 1 LOW size 394041424344 ዋጋ 3900...
9  brand PERSIAN MOCCASIN size 394041424344 ዋጋ 39...

In [9]:

def remove_english(text):
    # This regex removes English alphabets, but keeps numbers and specific punctuation
    return re.sub(r'[A-Za-z፦፤፥፦፧፨፩፪፫፬፭፮፯፰፱፲፳፴፵፶፷፸፹፺፻\._]', '', text)

In [10]:

filtered_df["cleaned_text"] = filtered_df["cleaned_text"].apply(remove_english)

In [11]:
filtered_df.head()

                                        cleaned_text
0  እነዚህን ጫማዎች  እና  ላይ ማስታወቂያ አይታችሁ  ስትገቡ ያጣችሁት በሙ...
1                                     ዛሬ ሙሉቀን ክፍት ነን
2  እነዚህን ጫማዎች  እና  ላይ ማስታወቂያ አይታችሁ  ስትገቡ ያጣችሁት በሙ...
3       394041424344 ዋጋ 3800 ስልክ 0944222069 በውስጥ ...
4      394041424344 ዋጋ 3900 ስልክ 0944222069 በውስጥ ለ...

In [12]:


filtered_df.to_csv("../data/Amharic_data.csv", index=False, encoding='utf-8')

In [13]:
filtered_df.iloc[0]["cleaned_text"]

'እነዚህን ጫማዎች  እና  ላይ ማስታወቂያ አይታችሁ  ስትገቡ ያጣችሁት በሙሉ የጥምቀት ጫማዎች ፊት ለፊት በመሆናቸው ስለሆነ ትንሽ ከፍ አድርጎ በመፈለግ ከ 9 እስከ 1 ድረስ ፖስት የተደረጉትን ከፍ አድርጎ በመፈለግ ያገኙታል'

In [14]:


from amseg.amharicSegmenter import AmharicSegmenter

c:\Users\Tsegaye\AppData\Local\Programs\Python\Python313\Lib\site-packages\amseg-2.3-py3.13.egg\amseg\amharicSegmenter.py:55: SyntaxWarning: invalid escape sequence '\s'
c:\Users\Tsegaye\AppData\Local\Programs\Python\Python313\Lib\site-packages\amseg-2.3-py3.13.egg\amseg\amharicSegmenter.py:79: SyntaxWarning: invalid escape sequence '\s'
c:\Users\Tsegaye\AppData\Local\Programs\Python\Python313\Lib\site-packages\amseg-2.3-py3.13.egg\amseg\amharicSegmenter.py:55: SyntaxWarning: invalid escape sequence '\s'
c:\Users\Tsegaye\AppData\Local\Programs\Python\Python313\Lib\site-packages\amseg-2.3-py3.13.egg\amseg\amharicSegmenter.py:79: SyntaxWarning: invalid escape sequence '\s'
c:\Users\Tsegaye\AppData\Local\Programs\Python\Python313\Lib\site-packages\amseg-2.3-py3.13.egg\amseg\amharicNormalizer.py:87: SyntaxWarning: invalid escape sequence '\s'
c:\Users\Tsegaye\AppData\Local\Programs\Python\Python313\Lib\site-packages\amseg-2.3-py3.13.egg\amseg\amharicNormalizer.py:87: SyntaxWarning: invalid escape sequence '\s'

In [15]:


sent_punct = []
word_punct = []
segmenter = AmharicSegmenter(sent_punct, word_punct)

# Define the function to tokenize Amharic text
def tokenize_amharic(text):
    words = segmenter.amharic_tokenizer(text)  # Tokenizing the text into words
    return words  # Returning the tokenized words

In [16]:


# Apply the function to the 'cleaned_text' column to create a new 'tokenize' column
filtered_df["tokenize"] = filtered_df["cleaned_text"].apply(tokenize_amharic)

# Display the updated DataFrame
print(filtered_df.head())

                                        cleaned_text  \
0  እነዚህን ጫማዎች  እና  ላይ ማስታወቂያ አይታችሁ  ስትገቡ ያጣችሁት በሙ...
1                                     ዛሬ ሙሉቀን ክፍት ነን
2  እነዚህን ጫማዎች  እና  ላይ ማስታወቂያ አይታችሁ  ስትገቡ ያጣችሁት በሙ...
3       394041424344 ዋጋ 3800 ስልክ 0944222069 በውስጥ ...
4      394041424344 ዋጋ 3900 ስልክ 0944222069 በውስጥ ለ...

                                            tokenize
0  [እነዚህን, ጫማዎች, እና, ላይ, ማስታወቂያ, አይታችሁ, ስትገቡ, ያጣች...
1                                [ዛሬ, ሙሉቀን, ክፍት, ነን]
2  [እነዚህን, ጫማዎች, እና, ላይ, ማስታወቂያ, አይታችሁ, ስትገቡ, ያጣች...
3  [394041424344, ዋጋ, 3800, ስልክ, 0944222069, በውስጥ...
4  [394041424344, ዋጋ, 3900, ስልክ, 0944222069, በውስጥ...

In [17]:
filtered_df.iloc[0]["cleaned_text"]

'እነዚህን ጫማዎች  እና  ላይ ማስታወቂያ አይታችሁ  ስትገቡ ያጣችሁት በሙሉ የጥምቀት ጫማዎች ፊት ለፊት በመሆናቸው ስለሆነ ትንሽ ከፍ አድርጎ በመፈለግ ከ 9 እስከ 1 ድረስ ፖስት የተደረጉትን ከፍ አድርጎ በመፈለግ ያገኙታል'

In [18]:
filtered_df.to_csv("../data/tokenized_data.csv")